.wave {
  position: relative;
  width: 2rem;
  height: 2rem;
  background-color: #4bcd60;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  span{
    position: absolute;
    z-index: 999;
    font-size: 0.45rem;
    color: #fff;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding-left: 0.6rem;
    padding-top: 0.7rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  i{
    position: absolute;
    margin: auto;
    left: 0;
    top: -0.67rem;
    right: 0;
    bottom: 0;
    background-color: transparent;
    &::before,
    &::after{
      content: "";
      position: absolute;
      width: 4rem;
      height: 4rem;
      top: 10%;
      left: 50%;
      background-color: rgba(255, 255, 255, .4);
      border-radius: 45%;
      transform: translate(-50%, -70%) rotate(0);
      animation: rotate 6s linear infinite;
      z-index: 10;
    }

    &::after {
      border-radius: 47%;
      background-color:rgba(255, 255, 255, 0.55);
      transform: translate(-50%, -70%) rotate(0);
      animation: rotate 10s linear -5s infinite;
      z-index: 20;
    }
  }
}

@keyframes rotate {
  50% {
    transform: translate(-50%, -73%) rotate(180deg);
  } 100% {
      transform: translate(-50%, -70%) rotate(360deg);
    }
}
.line{
  width: 32%;
  height: 0.2rem;
  background-color: #fff;
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  border-left:0.12rem solid rgba(8, 206, 91, 0.5019607843137255);
  border-right:0.12rem solid rgba(8, 206, 91, 0.5019607843137255);
  animation: rotate2 .5s infinite linear;
}
.line2{
  border-left:0.12rem solid #08ce5b;
  border-right:0.12rem solid #08ce5b;
  transform: rotate(10deg);
  animation: rotate3 .5s infinite linear;

}
@keyframes rotate3 {
  0%{
    transform: rotate(10deg);
  }
  100%{
    transform: rotate(370deg);
  }
}
@keyframes rotate2 {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.display{
  display: none;
}